body{
	font-family: verdana;
	color: #333;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.2, #FF8533), color-stop(0.3, #FF6600), to(#FFF));
	background-image: -webkit-linear-gradient(#FF8533 20%, #FF6600 30%, #FFF 100%);
	background-image: -moz-linear-gradient(#FF8533 20%, #FF6600 30%, #FFF 100%);
	background-image: -o-linear-gradient(#FF8533 20%, #FF6600 30%, #FFF 100%);
	background-image: linear-gradient(#FF8533 20%, #FF6600 30%, #FFF 100%);
}

.hidden{
	display: none;
}

.big_title{
	color: #FF8533;
	padding-left: 5px;
	text-shadow: 3px 3px #444;
}

#login_form{
	padding: 10px;
	background-color: #FF8533;
	width : 285px;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	position: relative;
	top:-20px;
	left: -20px;
	width:660px;
	height: 230px;
	padding-left: 300px;
	padding-top: 70px;

	box-shadow: 0 0 50px #000;

	background: rgb(249,198,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
}

#message_form{
	background-color: #DDD;
	display: none;
	position: fixed;
	bottom: 55px;
    width: 610px;
	padding: 5px;
	margin: 0;

	-webkit-box-shadow: 0px -5px 25px #888;
	-moz-box-shadow: 0px -5px 25px #888;
	box-shadow: 0px -5px 25px #888;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.2, #DDD), color-stop(0.3, #BBB), to(#333));
	background-image: -webkit-linear-gradient(#DDD 20%, #BBB 30%, #333 100%);
	background-image: -moz-linear-gradient(#DDD 20%, #BBB 30%, #333 100%);
	background-image: -o-linear-gradient(#DDD 20%, #BBB 30%, #333 100%);
	background-image: linear-gradient(#DDD 20%, #BBB 30%, #333 100%);

	z-index: 2000;
}
#message_form input{
	background-color: 
}

.new_user_notif{
	color: green;
	font-style: italic;
}

#salon{
	padding: 5px;
	overflow: hidden;
	background-color: #DDD;
}

#tchat{
	-webkit-box-shadow: -5px 5px 5px gray;
	-moz-box-shadow: -5px 5px 5px gray;
	box-shadow: -5px 5px 5px gray;

	border-radius: 10px 0 0 0;
}
#tchat h2{
	font-size: 20px;
	text-align: center;
	background-color: #333;
	padding: 10px;
	margin: 0px;
	color: #CCC;
	border-radius: 10px 0 0 0;
}


#messages{
	overflow: auto;
}

.message_body{
	border-left: 5px solid #FF8533;
	padding: 5px;
	background-color: #F3F3F3;
	margin-bottom: 10px;
}
.message_body:nth-child(even) {
	background: #EAEAEA
}
.message_author{
	width: 100%;
}
.message{
	margin-bottom: 0;
	border-bottom: 1px solid #DDD;
}
.message_avatar{
	vertical-align: top;
	display: inline-block;
	width: 50px;
}
.message_avatar img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.message_text{
	display: inline-block;
	width: 540px;
}
.message_text h5{
	margin-top: 0;
}


#list_user{
	padding-left: 5px;
	margin-right: -5px; 
}

#list_users{
	padding: 0px;
	margin: 0px;
}
#list_users li{
	padding: 5px;
	list-style: none;
	margin-bottom: 1px;
	margin-left: 0px;

	background: rgb(249,198,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */


	font-weight: bold;
	color: #333
}

.is_writting{
	display: none;F
}

footer{
	padding: 0 5px;
	position: fixed;
	bottom: 0px;
	width: 930px;
	text-align: center;
	height: 50px;
	line-height: 45px;
	background-color: #FF8533;
	border-top: 5px solid #FF6600;

	-webkit-box-shadow: 0px 15px 35px #333;
	-moz-box-shadow: 0px 15px 35px #333;
	box-shadow: 0px 15px 35px #333;
}

.container{
	-webkit-box-shadow: 0px 10px 35px #333;
	-moz-box-shadow: 0px 10px 35px #333;
	box-shadow: 0px 10px 35px #333;
	background-color: #EDEDDD;
}

.loader{
	text-align: center;
}

.isWritting{
	background: #d2ff52; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyZmY1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MWU4NDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-8 */
}


/**
* Equation css
*/
.equationForm {
	background-color: #DDD;
	position: fixed;
	top: 400px;
	padding: 10px;

	-webkit-box-shadow: 5px 5px 10px #333;
	-moz-box-shadow: 5px 5px 10px #333;
	box-shadow: 5px 5px 10px #333;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.equationForm textarea{
	border: 1px #888 solid;
	background-color: #FFFFCC;
}
.equationForm button{
	margin-top: 5px;
	margin-left: 35px;
	padding: 0 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background: rgb(206,220,231); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTZhNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-8 */

}
.equationPreview{
	margin-bottom: 10px;
	padding: 5px;
	background-color: #FFFFEE;

	border: 1px #888 solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#drawSheet{
	display: none;
	z-index: 1;
	cursor: crosshair;
}
#drawSheet i{
	position: relative;
	margin-top: 5px;
	margin-left: 600px;
	opacity: 0.3;
	cursor: pointer;
}
#drawSheet i:hover{
	opacity: 0.6;
}
canvas{
	position: fixed;
	border: 1px solid #333;

	background: rgb(254,252,234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWRhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-8 */
}
