body{
	font-family: verdana;
	color: #333;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.2, #FF8533), color-stop(0.3, #FF6600), to(#FFF));
	background-image: -webkit-linear-gradient(#FF8533 20%, #FF6600 30%, #FFF 100%);
	background-image: -moz-linear-gradient(#FF8533 20%, #FF6600 30%, #FFF 100%);
	background-image: -o-linear-gradient(#FF8533 20%, #FF6600 30%, #FFF 100%);
	background-image: linear-gradient(#FF8533 20%, #FF6600 30%, #FFF 100%);
}

.hidden{
	display: none;
}

.big_title{
	color: #FF8533;
	padding-left: 5px;
	text-shadow: 3px 3px #444;
}

#login_form{
	padding: 10px;
	background-color: #FF8533;
	width : 285px;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	position: relative;
	top:-20px;
	left: -20px;
	width:660px;
	height: 230px;
	padding-left: 300px;
	padding-top: 70px;

	box-shadow: 0 0 50px #000;

	background: rgb(249,198,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
}

#message_form{
	background-color: #DDD;
	display: none;
	position: fixed;
	bottom: 55px;
    width: 610px;
	padding: 5px;
	margin: 0;

	-webkit-box-shadow: 0px -5px 25px #888;
	-moz-box-shadow: 0px -5px 25px #888;
	box-shadow: 0px -5px 25px #888;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.2, #DDD), color-stop(0.3, #BBB), to(#333));
	background-image: -webkit-linear-gradient(#DDD 20%, #BBB 30%, #333 100%);
	background-image: -moz-linear-gradient(#DDD 20%, #BBB 30%, #333 100%);
	background-image: -o-linear-gradient(#DDD 20%, #BBB 30%, #333 100%);
	background-image: linear-gradient(#DDD 20%, #BBB 30%, #333 100%);

	z-index: 2000;
}
#message_form input{
	background-color: 
}

.new_user_notif{
	color: green;
	font-style: italic;
}

#salon{
	padding: 5px;
	overflow: hidden;
	font-size: 10px;
	background-color: #DDD;
}

#tchat{
	-webkit-box-shadow: -5px 5px 5px gray;
	-moz-box-shadow: -5px 5px 5px gray;
	box-shadow: -5px 5px 5px gray;

	border-radius: 10px 0 0 0;
}
#tchat h2{
	font-size: 20px;
	text-align: center;
	background-color: #333;
	padding: 10px;
	margin: 0px;
	color: #CCC;
	border-radius: 10px 0 0 0;
}


#messages{
	overflow: auto;
}

.message_body{
	border-left: 5px solid #FF8533;
	padding: 5px;
	background-color: #EEE;
	margin-bottom: 10px;
}
.message_author{
	width: 100%;
}
.message{
	padding-left: 10px;
	margin-top: 0px;
}
.message_avatar{
	vertical-align: top;
	display: inline-block;
	width: 50px;
}
.message_text{
	display: inline-block;
	width: 540px;
}
.message_text h5{
	margin-top: 0;
}


#list_user{
	padding-left: 5px;
	margin-right: -5px; 
}

#list_users{
	padding: 0px;
	margin: 0px;
}
#list_users li{
	padding: 5px;
	list-style: none;
	margin-bottom: 1px;
	margin-left: 0px;

	background: rgb(249,198,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */


	font-weight: bold;
	color: #333
}

.is_writting{
	display: none;
}

footer{
	padding: 0 5px;
	position: fixed;
	bottom: 0px;
	width: 930px;
	text-align: center;
	height: 50px;
	line-height: 45px;
	background-color: #FF8533;
	border-top: 5px solid #FF6600;

	-webkit-box-shadow: 0px 15px 35px #333;
	-moz-box-shadow: 0px 15px 35px #333;
	box-shadow: 0px 15px 35px #333;
}

.container{
	-webkit-box-shadow: 0px 10px 35px #333;
	-moz-box-shadow: 0px 10px 35px #333;
	box-shadow: 0px 10px 35px #333;
	background-color: #EDEDDD;
}

.loader{
	text-align: center;
}

